* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #F6F5F6;
}


.grid-item-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 32px;
  padding-inline: 160px;
}

.item1 {
    grid-row: 1 / span 2;
}

.item2 {
    grid-column: 2 / span 2;
}

.item3 {
    grid-row: 1 / span 2;
    grid-column-start: 4;
}

.item8 {
    grid-column: 3 /  5;
}

.item1-container {
    display: flex;
    flex-direction: column;
  background-color: #f9eee2;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 36px;
  font-size: 40px;
  gap: 24px;
  padding-inline: 32px;
}

.item1-container span {
    color: #7551DC;
    font-style: italic;
}
.item2 {
  background-color: #7551dc;
}

.item3 {
  background-color: #dbd1fc;
}

.item4 {
  background-color: #FFCC6A;
}

.item5 {
    background-color: white;
}

.item6 {
  background-color: #ffcc6a;
}

.item7 {
  background-color: white;
}
.item8 {
  background-color: #7551dc;
}
