@import url(./tokens.css);
* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-preset-1);
}
body {
  background: #f6f5f6;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 32px;
}

.card-create {
  background-color: var(--yellow100);
  padding-inline: 32px;
}

.card-create h2 {
  color: black;
  font-size: var(--fontsize-preset-2);
  line-height: var(--fontlineheigt-preset-2);
  letter-spacing: var(--fontletterspacing-preset-2);
}

.card-create span {
  font-style: italic;
  color: var(--purple500);
}

.card-hero {
  background-color: var(--purple500);
  padding-inline: 32px;
}

.card-hero h1 {
  font-size: var(--fontsize-preset-1);
  color: white;
  line-height: var(--fontlineheigt-preset-1);
  letter-spacing: var(--fontletterspacing-preset-1);
}

.card-hero span {
  color: var(--yellow500);
}

.card-hero p {
  color: white;
  font-size: var(--fontsize-preset-4);
  line-height: var(--fontheigt-preset-4);
  letter-spacing: var(--fontletterspacing-preset-4);
}

.card-schedule {
  background-color: var(--purple100);
}

.card-schedule h2 {
  font-size: var(--fontsize-preset-3);
  line-height: var(--fontheigt-preset-3);
  letter-spacing: var(--fontletterspacing-preset-3);
}
.card-schedule p {
  color: black;
  font-size: var(--fontsize-preset-4);
  line-height: var(--fontheigt-preset-4);
  letter-spacing: var(--fontletterspacing-preset-4);
}

.card-accounts {
  background-color: white;
}

.card-accounts p {
  font-size: var(--fontsize-preset-3);
  line-height: var(--fontheigt-preset-3);
  letter-spacing: var(--fontletterspacing-preset-3);
}

.card-consistent {
  background-color: var(--yellow500);
}

.card-ai {
  background-color: var(--yellow500);
}

.card-ai h2 {
  color: black;
  font-size: var(--fontsize-preset-3);
  line-height: var(--fontheigt-preset-3);
  letter-spacing: var(--fontletterspacing-preset-3);
}

.card-growth {
  background-color: white;
}

.card-growth h1 {
  font-size: var(--fontsize-preset-1);
  color: black;
  line-height: var(--fontlineheigt-preset-1);
  letter-spacing: var(--fontletterspacing-preset-1);
}

.card-growth p {
  color: black;
  font-size: var(--fontsize-preset-4);
  line-height: var(--fontheigt-preset-4);
  letter-spacing: var(--fontletterspacing-preset-4);
}

.card-followers {
  flex-direction: row;
  background-color: var(--purple500);
}

.card-followers h2 {
  font-size: var(--fontsize-preset-2);
  line-height: var(--fontlineheigt-preset-2);
  letter-spacing: var(--fontletterspacing-preset-2);
}

.card-create {
  grid-row: span 3 / span 3;
}
.card-hero {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}
.card-schedule {
  grid-row: span 4 / span 4;
    grid-column-start: 4;
}
.card-accounts {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}
.card-consistent {
  grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}
.card-ai {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}
.card-growth {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
}
.card-followers {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}
