* {
  box-sizing: border-box;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #f6f5f6;
}

.grid-item-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 32px;
  padding-inline: 160px;
}

.item {
  border-radius: 10px;
  width: 100%;
}

.item1 {
  grid-row: 1 / span 2;
}

.item1-container {
  display: flex;
  flex-direction: column;
  background-color: #f9eee2;
  color: black;
  font-weight: 500;
  line-height: 36px;
  font-size: 40px;
  gap: 24px;
  padding-inline: 32px;
  font-style: normal;
  letter-spacing: -2px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.item2 {
  grid-column: 2 / span 2;
}

.item2-container {
  background-color: #7551dc;
  display: grid;
  grid-template-columns: auto;
  padding-block: 62px;
  width: 100%;
  justify-content: center;
  gap: 24px;
  color: white;
}
.number {
  color: #ffcc6a;
}

.review-container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.item3 {
  grid-row: 1 / span 2;
  grid-column-start: 4;
  position: relative;
}

.item3-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 32px 52px;
}

.item3-container h1 {
  font-size: 32px;
  color: #121212;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -2px;
}

.item3-container p {
  color: #121212;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.item3-container img {
  align-self: end;
  position: absolute;
  right: 0px;
  top: 25%;
}

.item4 {
  grid-column: 1;
  grid-row: 3 / 5;
}

.item4-container {
margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 55px;

}

.item8 {
  grid-column: 3 / 5;
}


.item1-container span {
  color: #7551dc;
  font-style: italic;
}
.item2 {
  display: flex;
  align-items: center;
}

.item3 {
  background-color: #dbd1fc;
}

.item4 {
  background-color: #ffcc6a;
}

.item5 {
  background-color: white;
}

.item6 {
  background-color: #ffcc6a;
}

.item7 {
  background-color: white;
}
.item8 {
  background-color: #7551dc;
}
