* {
    margin: 0;
    box-sizing: border-box;
}

.auth-container {
    width: 400px;
    border: 1px solid black;
    background-color: blueviolet;
}

label {
    display: block;
}

form label[for='save'] {
    display: inline;
}