@media (min-width: 993px) {
  body {
    align-content: center;
  }
  .grid-container {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(8, auto);
    gap: var(--spacing400);
    margin-inline: 160px;
    margin-top: 83px;
    margin-bottom: 65px;
    /* align-items: start; */
  }

  .item {
    min-height: 100%;
  }
  .item-1 {
    grid-column: 3 / 7;
    padding: var(--spacing400);
  }

  .item-1 h1 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-weight: 500;
  }

  .item-1 span {
    text-align: center;
  }

  .item-2 {
    grid-column: 3 / 5;
    grid-row: 3/5;
    padding: var(--spacing300);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .item-2 h2 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
  }

  .item-3 {
    grid-column: 5 / 7;
    grid-row: 3/5;
    padding-inline: var(--spacing300);
    gap: var(--spacing200);
  }

  .item-3 h2 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
    font-weight: 500;
    padding-top: var(--spacing300);
  }

  .item-4 {
    grid-column: 7/9;
    grid-row: 1/5;
    padding-block: 50px;
    gap: var(--spacing200);
    padding-left: var(--spacing400);
  }

  .item-4 h2 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
    padding-right: var(--spacing400);
    font-weight: 500;
  }

  .item-4 p {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);
    padding-right: var(--spacing400);
    font-weight: 400;
  }

  .item-5 {
    grid-row: 5/7;
    grid-column: 5/9;
    gap: 11px;
    padding: var(--spacing300);
    align-items: center;
  }

  .item-5 h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
    font-weight: 500;
  }

  .item-6 {
    grid-area: 5 / 3 / 7 / 5;
    flex-direction: column;
    gap: 38px;
    padding: var(--spacing300);
  }

  .item-6 h1 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-weight: 500;
  }

  .item-6 span {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);
    font-weight: 400;
  }

  .item-7 {
    grid-area: 1 / 1 / 4 / 3;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: var(--spacing300);
    padding-inline: var(--spacing400);
  }

  .item-7 h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
    font-weight: 500;
  }
  .item-8 {
    grid-area: 4 / 1 / 7 / 3;
    align-items: center;
    gap: 55px;
  }

  .item-8 h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
    font-weight: 500;
    text-align: start;
  }

  img {
    width: 100%;
  }

  .item-5 img {
    width: 100px;
  }
  .item-6 img {
    width: 100px;
  }
}
