@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing400);
    padding-block: var(--spacing400);
    padding-inline: var(--spacing200);
    max-width: 720px;
  }

  .item-1 {
    padding-inline: var(--spacing400);
    padding-block: var(--spacing500);
  }

  .item-2 {
    display: flex;
    flex-direction: column;
    padding: var(--spacing200);
  }

  .item-2 img {
  }

  .item-2 h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -1.56px;
  }
}
