@media (min-width: 769px) and (max-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 960px;
    gap: var(--spacing400);
    margin: var(--spacing500);
    /* align-items: start; */
  }

  .item-1 {
    grid-column: 1 / 3;
    padding-block: 72px;
    padding-inline: 100px;
  }

  .item-1 h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -2.16px;
  }

  .item-2 {
    grid-column: 1;
    grid-row: 2;
    padding: var(--spacing300);
  }

  .item-2 h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -1.68px;
  }

  .item-3 {
    grid-column: 2;
    grid-row: 2;
    padding-inline: var(--spacing300);
    padding-top: var(--spacing300);
    gap: var(--spacing200);
  }

  .item-3 img {
    width: 208px;
  }

  .item-3 h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -1.68px;
  }

  .item-4 {
    grid-column: 1 / 3;
    grid-row: 3;
    align-items: center;
    padding-block: var(--spacing400);
    gap: var(--spacing300);
  }

  .item-4 h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -1.68px;
  }

  .item-4 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-inline: 165px;
  }

  .item-4 img {
    width: 357px;
  }

  .item-5 {
    grid-column: 1 / 3;
    grid-row: 4;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing300);
    gap: var(--spacing500);
  }

  .item-5 img {
    width: 227.684px;
  }

  .item-5 h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -2.16px;
    padding-right: 107px;
  }

  .item-6 {
    grid-column: 1 / 3;
    grid-row: 5;
    justify-content: space-between;
    padding: var(--spacing300);
  }

  .item-6 h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -2.16px;
  }

  .item-6 span {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }

  .item-7 {
    padding-block: 75px;
    padding-inline: var(--spacing300);
    gap: var(--spacing300);
  }

  .item-7 h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -2.16px;
  }

  .item-7 img {
    width: 190.466px;
  }

  .item-8 {
    gap: var(--spacing300);
  }

  .item-8 h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -2.16px;
  }

  .item-8 img {
    width: 219.949px;
  }
}
