@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(./img/Group\ 5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.auth-container {
    background-color: white;
    padding: 40px;
    display: flex;
    width: 540px;
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: column;
}

div input,
select {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding-block: 15px;
    padding-left: 34px;
}

#date {
    padding-right: 34px;
}

label {
    color: #3D3B48;
    margin-block: 10px;
}

button {
    width: 100%;
    border-radius: 5px;
    margin-block: 15PX;
    font-size: 15px;
    padding-block: 15PX;
    background-color: #38CC8B;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

p {
    color: #BAB7D4;
    font-size: 11px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

p span {
    color: red;
}