* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

div {
    padding: 30px;
}

.red {
    background-color: red;
}

.red > div {
    background-color: wheat;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}