* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 800px;
    /* margin: 15px; */
}

.information {
    border: 1px solid red;
    padding: 15px;
}

.Cssinformation {
    border: 1px solid greenyellow;
    padding: 25px;
    margin: 25px;
}

.ulpart {
    margin-bottom: 15px;
}

ul {
    background-color: teal;
    border: 1px solid black;
    padding:  15px;
}