@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    position: relative;
    isolation: isolate;
    overflow-x: clip;

    &::before {
      content: "";
      width: 510px;
      height: 1018px;
      position: fixed;
      background: var(--gradient-1);
      left: -10%;
      top: -20%;
      z-index: -1;
      pointer-events: none;
      border-bottom-left-radius: 255px;
      border-bottom-right-radius: 255px;
    }

    &::after {
      content: "";
      opacity: 0.03;
      border-top-left-radius: 255px;
      border-top-right-radius: 255px;
      position: fixed;
      background: var(--gradient-1);
      width: 510px;
      height: 1018px;
      right: -10%;
      bottom: -20%;
      z-index: -1;
      pointer-events: none;
    }
  }

  .main-information {
    text-align: start;
  }

  .main-paragraph {
    padding-inline: 0;
  }
}
