* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  height: 250px;
  background-color: red;
}

@media (max-width: 500px) {
  .card {
    background-color: black;
    width: 250px;
    height: 350px;
  }
}
