@import url(../Assets/Assets.css);
@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-inline: 35px;
    padding-block: 73px;
  }
}
