@import url(./mobile-responsive.css);
@import url(./tablet-responsive.css);
@import url(../Assets/Assets.css);
* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--barlow);
}

body {
  min-height: 100vh;
  background-color: #f6f5f6;
  align-content: center;
}

/* Styles.css (desktop only) */
@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-inline: 165px;
    gap: 32px;
  }

  .item1 {
    grid-column: 1 / 3;
  }
  .item4 {
    grid-column: 2 / 4;
  }
  .item5 {
    grid-column: 4;
    grid-row: 1 / 3;
  }
}

header {
  display: flex;
  gap: 17px;
}

blockquote p {
  font-size: var(--font-size-2-3);
  line-height: var(--line-height-3);
}

h3 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  font-weight: 600;
}

.item {
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.person-text h2 {
  font-size: var(--font-size-2-3);
  line-height: var(--line-height-2-4);
}

.person-text p {
  font-size: var(--font-size-4);
  line-height: var(--line-height-2-4);
}

.item1 {
  background-color: var(--purple500);
}

.item2 {
  background-color: var(--grey500);
}

.item3 {
  background-color: var(--white);
}
.item4 {
  background-color: var(--dark-blue);
}
.item5 {
  background-color: var(--white);
}

.item1 .person-text h2 {
  color: var(--white);
}
.item1 .person-text p {
  color: var(--purple50);
}

.item1 h3 {
  color: var(--white);
}
.item1 .quote p {
  color: var(--purple50);
}

.item2 .person-text h2 {
  color: var(--white);
}
.item2 .person-text p {
  color: #a3aab4;
}

.item2 h3 {
  color: var(--white);
}
.item2 .quote p {
  color: var(--grey100);
}

.item3 .person-text h2 {
  color: var(--grey500);
}
.item3 .person-text p {
  color: var(--grey400);
}

.item3 h3 {
  color: var(--grey500);
}
.item3 .quote p {
  color: var(--grey400);
}

.item4 .person-text h2 {
  color: var(--white);
}
.item4 .person-text p {
  color: var(--white);
}

.item4 h3 {
  color: var(--grey200);
}
.item4 .quote p {
  color: var(--grey100);
}

.item5 .person-text h2 {
  color: var(--grey500);
}
.item5 .person-text p {
  color: #a3aab4;
}

.item5 h3 {
  color: var(--grey500);
}
.item5 .quote p {
  color: var(--grey400);
}
