@import url(../Assets/Assets.css);
@media (min-width: 768px) and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-block: 83px;
    padding-inline: 60px;
    max-width: 960px;
    gap: 32px;
    justify-self: center;
  }

  .item1 {
    grid-column: 1 / 3;
  }

  .item4 {
    grid-row: 3;
    grid-column: 1 / 3;
  }
  .item5 {
    grid-row: 4;
    grid-column: 1 / 3;
  }
}
