@media (min-width: 1024px) {
    .container {
        max-width: 100%;
    }



    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .joining-section h1 {
        font-size: var(--text-preset-1-size);
    }
}