.container {
  padding-inline: var(--spacing-200);
}
main {
  padding-top: 6.75rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);
  align-items: center;
}

.joining-section h1 {
  font-size: var(--text-preset-1-mobile-size);
}

.people-in-liberary {
  padding-bottom: var(--spacing-1000);
}

.togather h1 {
  font-size: var(--text-preset-2-mobile-size);
}
.readers-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  margin-top: var(--spacing-800);
  margin-bottom: var(--spacing-800);
}

.togather {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.check-mark {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.not-avarage-club-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  margin-bottom: var(--spacing-800);
}

.club-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.membership-guide-container {
  background-image: url(../Assets/pattern.svg);
  border-radius: var(--spacing-150);
  background-color: var(--color-neutral-100);
  padding-inline: var(--spacing-400);
  padding-block: var(--spacing-1000);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

.membership-guide-container h1 {
  font-size: var(--text-preset-2-mobile-size);
}

.steps {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--spacing-250);
  padding-bottom: var(--spacing-250);
}

.membership-guide span {
  font-size: var(--text-preset-6-mobile-size);
}

.membership-guide p {
  font-size: var(--text-preset-6-mobile-size);
}
