@media (min-width: 640px) {
  .membership-options {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .membership-options-container h1 {
    font-size: var(--text-preset-2-size);
  }

  .container {
    gap: var(--spacing-1000);
  }

  blockquote p {
    font-size: var(--text-preset-3-size);
  }
  footer h1 {
    font-size: var(--text-preset-2-size);
    padding-top: var(--spacing-800);
  }

  footer hr {
    margin-inline: 0;
  }
}
